rasa==2.2.7
rasa_sdk==2.2
spacy==2.0.0
fuzzywuzzy
hun-date-parser==0.1.0
https://github.com/spacy-hu/spacy-hungarian-models/releases/download/hu_core_ud_lg-0.3.1/hu_core_ud_lg-0.3.1-py3-none-any.whl
datetimerange
pandas
altair